
* {box-sizing: border-box;}

body {
	font-family: 'Oswald', sans-serif;
}

.banner{
	background: linear-gradient(#FAA20E, #E7833B);
	height: 440px;
	/*position: relative;*/
	width: 100%;
}

.banner-h1{
	text-align: center;
	font-size: 72px;
	color: white;
}

.banner-h2{
	text-align: center;
	font-size: 43px;
	color: white;
}

.logo {
	width: 130px;
	padding-top: 41px;
	padding-left: 24px;
}

footer{
	height: 305px;
	background-color: orange;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(#FAA20E, #E7833B);
}
.footer-nav{
	display: flex;
    justify-content: center;
    align-items: center;
}
.footer-nav ul li{
	display: inline;
	font-family: "oswald" ;
	font-size: 20px;
}
footer .font-color{
	color: #fff;
}

