
* {box-sizing: border-box;}
body {
	font-family: 'Oswald', sans-serif;
	position: relative;
}

/*Header*/

header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100% !important;
	z-index: 1;
}

header .row {
	margin-top: 41px;
}

header .row .col-lg-2:nth-child(2) {
	text-align: center;
	margin-top: 28px;
}

.banner {
	background: linear-gradient(#FAA20E, #E7833B);
	height: 440px;
	width: 100%;
	-webkit-filter: drop-shadow(2px 2px 2px #ddd);
     filter: drop-shadow(2px 2px 2px #ddd);
}

.banner .row {
	margin-top: 160px;
}

.banner-h1 {
	text-align: center;
	font-size: 72px;
	color: white;
}

.banner-h2 {
	text-align: center;
	font-size: 43px;
	color: white;
}


.logo {
	width: 100%;
	max-width: 130px;
	margin-left: 24px;
	-webkit-filter: drop-shadow(3px 3px 3px #999);
  	filter: drop-shadow(3px 3px 3px #999);
}

.search {
	width: 50px;
	-webkit-filter: drop-shadow(3px 3px 3px #999);
  	filter: drop-shadow(3px 3px 3px #999);
  	color: white;
  	font-size: 46px;
}

.search-div {
	float: right;
	
	margin-top: 52px;
}
.search-icon {
	width: 100%;
	max-width: 50px;
}

/*Appelsínugulur banner*/

.banner {
	background: linear-gradient(#FAA20E, #E7833B);
	height: 440px;
	width: 100%;
}

.banner .row {
	margin-top: 160px;
}

.banner h1 {

	font-size: 72px;
	color: white;
}

.banner h2 {
	text-align: center;
	font-size: 43px;
	color: white;
}
.keeping-cover-up{
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	margin: auto;
}

/*Slider á forsíðu*/

.slick-slide {
	height: inherit;
	margin-right: 20px;
	border: 1px solid white;
	-webkit-filter: drop-shadow(2px 2px 2px #ddd);
  	filter: drop-shadow(2px 2px 2px #ddd);
}

.slick-track {
	padding-bottom: 10px;
}

.slide-overlay {
	position: absolute;
	bottom: 0px; 
	width: 100%;
	height: 40%; 
	padding: 20px;
	background-color: rgba(252,252,252,0.7);
}

.slide-overlay-content {
	position: relative;
	width: 100%;
	height: 100%;
}

.slide-overlay-content > div:first-child {
	font-size: 30px;
	margin-bottom: 5px;
}

.slide-overlay-content div:nth-child(2) {
	color: #3D6390;
	font-size: 14px;
}

.slide-overlay-content > div:last-child {
	position: absolute;
	bottom:0px;
	width: 100%;
}

.number-circle {
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;
    
    background: #E7833B;
    color: #fff;
    text-align: center;
}

/*Velur öll div í næsta leveli (næsta strik) innan clasans*/
/*.movie-slider > div {
	position: relative;
}
/*Velur núna öll div í þarnæsta leveli (þarnæsta strik) innan clasans*/
/*.movie-slider > div > div {
	position: absolute;
	bottom: 0px; 
	width: 100%;
	height: 40%; 
	background-color: rgba(100,100,100,0.5);
}

/*Footer*/

footer {
	height: 305px;
	background-color: orange;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(#FAA20E, #E7833B);
}

.footer-nav {
	display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menu ul li {
	display: inline-block;
	font-family: "oswald" ;
	font-size: 20px;
	font-weight: 300;
	padding: 0 30px;
}

.footer-menu ul {
	width: 100%;
	text-align: center;
}

footer .font-color {
	color: #fff;
}

.logo-f {
	width: 130px;
	margin: 55px 0;
}
.footer-logo{
	display: flex;
    justify-content: center;
    align-items: center;
}

.footer-menu {
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.copyright{
	float: right;
	color: #fff;
	font-family: "oswald" ;
	font-weight: 300;
	text-align: right;
	padding: 10px 0; 
}

/************** ABOUT - PAGE ******************/
/*--- MYNDA/VIDEO BANNER ---*/
.movie-info-mobile{
	display: none;
}
.about-header {
  	position: relative;
	background-image: url(../img/star.jpg);
	min-height: 686px;
	width: 100%;
	background-size: cover;
	background-color: #06aec0;
	background-position: 50% 40%;
	z-index: -1;	
}

.flex-bottom-align {
	display: flex;
  	align-items: flex-end;
}

.flex-bottom-align-apart {
	display: flex;
  	align-items: flex-end;
  	justify-content: space-between; 
}

/*---SKÁ LÍNA---*/
.about-header:after {
	content: '';
  	position: absolute;
  	width: 100%;
	height: 250px;
	top: 600px;
	left: 0;
 	bottom: 0;
	overflow: visible;
  	background: #fff;
	-webkit-transform: skewY(-5.5deg); 
	-moz-transform: skewY(-5.5deg);
	-ms-transform: skewY(-5.5deg);
	-o-transform: skewY(-5.5deg);
	transform: skewY(-5.5deg);
  	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
	
}

.trailer-header {
	min-height: 1130px;
}

.trailer-header h1 {
	font-size: 50px;
}

.slick-list {
	width: 125%;
	padding-left: 0px !important;
}

.trailer-header h1 span {
	font-size: 50px;
	font-weight: 100;
}

.slick-arrow {
	display: none !important;
}

.movie-cover img{
	width: 100%;
	max-width: 388px;
	margin-bottom: 48px;
	border-radius: 10px;
	-webkit-filter: drop-shadow(2px 2px 2px #ddd);
     filter: drop-shadow(2px 2px 2px #ddd);
}
h1.movie-headline{
	font-family: 'oswald', sans-serif;
	font-size: 40px;
	display: inline;
}
.movie-details{
	margin-bottom: 95px;
}
h1.movie-headline-light{
	font-family: 'oswald', sans-serif;
	font-weight: 300;
	display: inline;
}
.movie-details span{
	font-size: 22px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
}
.movie-details label{
	font-size: 22px;
	font-family: 'Roboto Condensed', sans-serif;
}
h5.movie-year{
	padding: 26px 0 26px 0;
	font-size: 30px;
	font-family: 'Roboto Condensed', sans-serif;
}
p.movie-head{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	display: inline;
}
p.movie-head-light{
	display: inline;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 20px;
}
.info-under-cover{
	font-size: 18px;
	font-family: 'Roboto Condensed', sans-serif;
}
.info-under-cover span{
	color: #3D6390;
}
p.under-movie-head{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #828282;
	display: inline;
}
p.under-movie-head-info{
	font-family: 'Roboto Condensed', sans-serif;
	color: #3D6390;
	font-weight: 300;
	font-size: 20px;
	display: inline;
}
h1.movie-info{
	font-family: 'oswald', sans-serif;
	margin:  75px 0 32px 0;
}
.stills-img img{
	width: 100%;
	max-width: 221px;
}
p.plot{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
}
h1.info-stills-storyline{
	font-family: 'oswald', sans-serif;
	margin: -40px 0 32px 0;
}
.cast-images img{
	width: 100%;
}
.movie-cast{
	justify-content: space-between;
    display: flex;
}
figcaption {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	margin: 28px 0 50px 0;
}

/********************************search result page *************************************/

h1.search-result-title{
	color: #fff;
	font-size: 62px;
	font-family: 'oswald', sans-serif;
	margin-top: 60px;
	font-weight: 300;

}

.search-conditions{
	margin: 67px 0 67px 0;
	font-family: 'oswald', sans-serif;
	font-size: 30px;
	justify-content: center;
	display: flex;
}
.genre-search{
	width: 192px;
	height: 61px;
	border: solid #E84B33;
	border-radius: 20px;
	background-color: #E84B33;
}
.genre-search p{
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 24px;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
	font-weight: 400;
	text-align: center;
}
.genre-search-results{
	display: flex;
	justify-content: space-around;
}
.line-between{
	width: 1100px;
	height: 130px;
	border-bottom: solid #E7833B;
	margin-bottom: 70px;
}
.search-result{
	margin-left: 74px;
	background-color: #fff;
}
.search-result-info h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 900;
	margin-top: 11px;
}
.search-result-info span{
	font-family: 'Roboto Condensed', sans-serif;
	color: #828282;
	font-size: 16px;


}
.search-result-info h5 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #E7833B;
	font-size: 18px;
	font-weight: 700;
	margin-left: 10px;
	display: inline;
}
.search-result-info p{
	margin-top: 20px;
}

/*****************SEARCH***************/

.close img{
	width: 100%;
	max-width: 36px;
	z-index: 1;
	margin-top: 70px;
}
.search-input{
	width: 100%;
	height: 40px;
	border-bottom: solid #E7833B;
	margin-bottom: 70px;

}
.search-input input, input:focus{
	width: 90%;
	-moz-appearance: none;
	border-style: none;
}
.search-input input:focus{
	background-color: blue;
}
.search-input label {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 20px;

}















@media only screen and (max-width: 480px) {



/*****************ABOUT-PAGE MOBILE***************/
div#footer{
	display: none;
}
.about-info-desktop{
	display: none;
}
.movie-year{
	display: none;
}
.trailer-header{
	min-height: 375px;
}

.logo {
	width: 100%;
	max-width: 50px;
	margin-left: 24px;
	-webkit-filter: drop-shadow(3px 3px 3px #999);
  	filter: drop-shadow(3px 3px 3px #999);
}


.search {
	width: 20px;
	-webkit-filter: drop-shadow(3px 3px 3px #999);
  	filter: drop-shadow(3px 3px 3px #999);
  	color: white;
  	float: right;
  	margin-top: -64px;
  	font-size: 20px;
}

.flex-bottom-align.mobile-top-align{
	align-items: flex-start;

}
.keeping-cover-up{
	position: relative;
	bottom: 0px;
	left: 0;
	right: 0;
	margin: auto;
}
/* VIDEO */
.about-header {
  	position: relative;
	background-image: url(../img/star.jpg);
	background-size: 100%;
	min-height: 280px;
	width: 100%;
	background-size: cover;
	background-color: #06aec0;
	background-position: 50% 40%;
	z-index: -1;
}

/*---SKÁ LÍNA---*/
.about-header:after {
	content: '';
  	position: absolute;
  	width: 100%;
	height: 250px;
	top: 260px;
	left: 0;
 	bottom: 0;
	overflow: visible;
  	background: #FAFAFA;
	-webkit-transform: skewY(-5.5deg); 
	-moz-transform: skewY(-5.5deg);
	-ms-transform: skewY(-5.5deg);
	-o-transform: skewY(-5.5deg);
	transform: skewY(-5.5deg);
  	-webkit-backface-visibility: hidden;
	backface-visibility: initial;
	
}

.movie-cover img{
	margin-top: -100px;
	-webkit-filter: drop-shadow(2px 2px 2px #ddd);
}
.movie-info-mobile{
	display: inline;
	margin-top: -15px;
}
.movie-info-mobile label{
	font-size: 14px;
	font-weight: 300;

}
.movie-info-mobile span{
	font-size: 16px;
	color: #3D6390;

}
h1.movie-headline{
	font-family: 'oswald', sans-serif;
	font-size: 20px;
	display: inline;
}
h1.movie-headline-light{
	font-family: 'oswald', sans-serif;
	font-weight: 300;
	font-size: 20px;
	display: inline;
}
h5.movie-year{
	padding: 47px 0 37px 0;
	font-size: 15px;
	font-family: 'Roboto Condensed', sans-serif;
}
p.movie-head{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 10px;
	display: inline;
}
p.movie-head-light{
	display: inline;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 300;
	font-size: 10px;
}
.trailer-header h1 {
	font-size: 28px;
	font-family: 'oswald', sans-serif;


}
.trailer-header h1 span {
	font-size: 16px;
	font-family: 'Roboto Condensed', sans-serif;
	font-style: italic;
	display: inline-block;
	padding-top: 8px;
}
.movie-details{
	align-items: flex-start;
}
.movie-details label{
	font-size: 16px;

}
.movie-details span{
	font-size: 16px;
	font-weight: 300;
}
.info-under-cover{
	display: none;
}
/*****************SEARCH RESULT-PAGE MOBILE***************/

h1.search-result-title{
	color: #fff;
	font-size: 35px;
	font-family: 'oswald', sans-serif;
	font-weight: 300;
	margin: -42px 0 0 30px;
}
.banner {
	background: linear-gradient(#FAA20E, #E7833B);
	-webkit-filter: drop-shadow(2px 2px 2px #ddd);
     filter: drop-shadow(2px 2px 2px #ddd);
	height: 200px;
	width: 100%;
}
.search-conditions{
	margin: 27px 0 27px 0;
	font-family: 'oswald', sans-serif;
	font-size: 26px;
	justify-content: center;
	display: flex;
}
.genre-search{
	width: 95px;
	height: 32px;
	border: solid #E84B33;
	border-radius: 20px;
	background-color: #E84B33;
}
.genre-search p{
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 18px;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    margin: 0;
    transform: translate(-50%, -50%);
    position: absolute;
	font-weight: 400;
	text-align: center;
}
.genre-search-results{
	display: flex;
	justify-content: space-around;
}
.line-between{
	width: 340px;
	height: 40px;
	border-bottom: solid #E7833B;
	margin-bottom: 70px;
	width: 100%;
}
.search-result{
	margin: 0;
	background-color: #fff;
}
.search-result img{
	width: 100%;
	min-width: 68px;

}
.search-result-info h1{
	font-size: 20px;
}
.search-result-info span{
	font-family: 'Roboto Condensed', sans-serif;
	color: #828282;
	font-size: 14px;
}
.search-result-info p{
	font-size: 14px;
	font-family: 'Roboto Condensed', sans-serif;

}
.search-result-info h5 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #E7833B;
	font-size: 16px;
	font-weight: 700;
	margin-left: 10px;
	display: inline;
}


}
